
 /* The navigation bar */
.navbar {
    display: block;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom-color: black;
    border-bottom-style: solid;
    box-shadow: 0px 5px 25px grey;
    height:15%;
    font-family: Nanum Gothic;
    left: 0;
}

/* Links inside the navbar */
.navbar a {
    vertical-align: ;
/*    float: left;*/
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    vertical-align: middle
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #f5ff00;
    color: black;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/* Main content */
.main {
     height: 80%;
    margin-top: 5%; /* Add a top margin to avoid content overlay */
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
    align-items: center;
    color: white;
    left: 0;
    width: 100%;

    }

#logo {

}

#judul {
    font-size: 50pt;
    font-family:ubuntu;
    color: white;
    background-color: black;
}

#text {
    float: left;
    padding-left: 30;
}

#alamat {
    text-align: right;

}

#bottomleft {
text-align: left}





#toplogo {
    display: block;
    width: 89px;
    height: 90px;
/*    padding-right: 50%;*/
    border: solid;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-color: black;
    float: left;
    border-right-color: black;
    border-right-style: solid;
    margin-right: 10;
    padding-bottom: 10;
    padding-right: 25;
    padding-left: 25;
}

#topplogo {
    align-content: center
}


    .foot {
    font-size: 1.3vw;
    font-family: Nanum Gothic;
    bottom: 0;
    width: 100%;
/*        height: 500px;*/
    margin-top: 150px;
    margin-bottom: 0px;
    position: relative;
    left: 0;
    z-index: 0;
        float: left;
/*        padding-top: 20px;*/
}



#beranda {
    padding-left: 30%;
}


.background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.5);
    height: 250px;
    width: 100%;
    left: 0;

}



.content {
/*
    font-size: 20px;
    padding-top: 18px;
    position: relative;
*/

}


.fa {
    padding-left: 5px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

#logo {

}

#judul {
    font-size: 50px;
    font-family:ubuntu;
}

.fa-instagram {
   background: #000000;
    color: white;
}

.fa-envelope {
    color: white;
    background-color: black;
}


#deskripsi {
    padding-left: 10%;
    padding-right: 10%;
}

#struktur {
    padding-top: 8%;
}

#logoBPM {
    position: fixed;
    height: auto;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    opacity: 0.3;
}

#beranda {
    padding-left: 30%;
}


.background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.5);
    height: 250px;
}



.content {
    font-size: 20px;
    padding-top: 18px;
    position: relative;
}

.title {
    padding-bo
}

.fa {
    padding-left: 5px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.bgbiasa {
    background: url(BPM%20logo%2050%25.png);
    background-size: 60%;
/*    padding-top: 20%;*/
/*    padding-bottom: 20%;*/
    background-repeat: no-repeat;
    background-position: top;
/*    background-size: contain;*/
    margin-top: 45%;
/*    margin-bottom: 15%;*/
    width: 100%;
    height: 100%;
    left: 0;
    background-position: center;
    background-attachment: scroll;
    margin-top: 15%;
    font-family: 'Niramit', sans-serif;
}

.struktur {
    align-items: center;
    width: 100%;
    height: auto;
}

body {
    background-image: url(bghome.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




.body {
    padding-left: 15%;
    padding-right: 15%;
    height: 100%;
    margin-bottom: 150px;
}









.boxganjil {
    box-shadow: 0px 5px 5px grey;
    background-color: firebrick;
    filter: blur(px);
    padding: 10px;
    border: 1px solid black;
    color: white;
    float: right;
    width: 100%
}

#readmore {
    box-shadow: 0px 5px 0px darkblue;
    background-color: black;
    color: white;
    max-width: 25%;
    height: 40px;
    font-family: Nanum Gothic;
    font-size: 12pt;
    border: none;
    padding: 3px 10px 3px 10px;
}

.boxgenap {
    box-shadow: 0px 5px 5px grey;
    background-color: white;
    filter: blur(px);
    padding: 10px;
    border: 1px solid black;
    color: black;
    float: right;
    width: 100%;
}

.abovefooter {
    background-color: darkgray;
    padding-left: 5%;
    padding-right: 5%;
/*    padding-top: 5%;*/
    padding-top: 20px;
    height: 400px;
}



.menyu {
/*        list-style-type: none;*/
    float: right;
}

.footr {
    width: 18%;
    float: left;
    overflow: hidden;
    background-color: darkslateblue;
    padding-left: 5%;
    padding-right: 2%;
    color: white;
    height: 340px;
}



input {

}

#konten {
    width: 600px;
    padding-left: 10px;
}

form {
    padding-left : 100px;
}

#rincian {
    height: 100px;
}

#button1 {
    border-radius: 20px;
    width: 20%;
    height: 40px;
    border: none;
    box-shadow: 0px 5px 5px grey;
    font-family: Nanum Gothic;
    font-weight: 900;
}

#back {
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.5);
}



.input {
    border: none;
    box-shadow: 0px 5px 5px grey;
        width: 400px;
    height: 25px;
    background: linear-gradient(to right, #ffffff 0%, #aaaaaa 100%);
    padding-left: 5px;
    padding-right: 5px;
}

.footr2 {
    width: 22%;
    overflow: hidden;
    float: left;
    background-color: white;
    padding-left: 5%;
    padding-left: 2%;
    color: black;
    height: 340px;
}

.footr3 {
    width: 25%;
    overflow: hidden;
    float: left;
}

.footr4 {
    width: 25%;
    overflow: hidden;
    float: left;
}

.judul_footr {
    font-family: Oxygen;
    font-size: 14pt;
    font-weight: 900;
}



.searchbarlong {
/*    height: 60px;*/
/*        padding-top: 10px;*/
/*    padding-bottom: 10px;*/
    vertical-align: middle;
    width: 100%;
    height: 60px;
    margin: 0 auto;

}

.bottomsearch {
    width: 100%;
    height: 40px;
    border: none;
/*    border-radius: 25px;*/
/*    vertical-align: middle;*/
    position: relative;
    color: #aaa;
    font-size: 16px;
}

.bottomsearch input {
  width: 100%;
  height: 40px;

  background: #fcfcfc;
/*  border: 1px solid #aaa;*/
  border-radius: 25px;
/*  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;*/
}

.bottomsearch input { text-indent: 32px;}
.botoomsearch .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
}

.bottomsearchbar {
        width: 92%;
    height: 40px;
    border: none;
    border-radius: 25px;
/*    vertical-align: middle;*/
    font-size: 16px;
    padding-left: 3%;
    padding-right: 3%;
}







.boxganjilinfo {
        box-shadow: 0px 5px 5px grey;
    background-color: #120a72;
    filter: blur(px);
    padding: 10px;
    border: 1px solid black;
    color: white;
    float: right;
    width: 100%;
}

#readmoreinfo {
        box-shadow: 0px 5px 0px yellow;
    background-color: black;
    color: white;
    max-width: 25%;
    height: 40px;
    font-family: Nanum Gothic;
    font-size: 12pt;
    border: none;
    padding: 3px 10px 3px 10px;
}

input[type="text"]:hover {
box-shadow: 0px 5px 5px yellow;
}

input[type="text"]:focus {
    box-shadow: 0px 5px 5px blue;
}

input[type="text"]:active {
    box-shadow: 0px 5px 5px blue;
}

#searchsubmit {
        margin-top: 10px;
    width: 18px;
    height: 18px;
}

#s {
    float: left;
    height: 40px;
    width: 100%;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
/*    margin-top: 5px;*/
/*    justify-self: center*/
}

.kontenhub {
    padding-left: 30%;
    padding-right: 30%
}

.search-container {
    float: right;
    padding-top: 40px;
    padding-right: 30px;
}

#cari1 {
    border-radius: 20px;
}

.bghub {
    width: 40%;
    align-content: center;
    background-color: darkblue;
    margin-right: 10%;
    margin-left: 30%;
    color: white;
    padding-bottom: 20px;
}



.judul1 {
    padding-left: 0%;
    color: white;
}



#back2 {
    background-color: yellow;
}

#icon2 {
    float: left;
    margin-left: 10px;
    width: 10%;
    background-color: white;
}

.iconx {
    float: left;
    width: 10px
}

#icon1 {
    float: left;
    width: 10%;
    background-color: white;
}

#icon3 {
    background-color: white;
    float: left;
    width: 10%;
    margin-left: 10px
}

#icon4 {
    background-color: white;
    float: left;
    width: 10%;
    margin-left: 10px
}

#icon5 {
    background-color: white;
    float: left;
    width: 10%;
    margin-left: 10px
}
