  /* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom-color: black;
    border-bottom-style: solid;
    box-shadow: 0px 5px 25px grey;
    height: 15%;
    font-family: Nanum Gothic;
}

/* Links inside the navbar */
.navbar a {
    vertical-align: ;
/*    float: left;*/
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    vertical-align: middle
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
     height: 80%;
    margin-top: 5%; /* Add a top margin to avoid content overlay */
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
    align-items: center;
    color: white;
    }

img {

}

#logo {
    float: left;
    border-right-color: black;
    border-right-style: solid;
    padding-bottom: 10;
    padding-right: 25;
    padding-left: 25;

}

#judul {
    font-size: 25;
    font-family:ubuntu;
    color: white;
}

#text {
    float: left;
    padding-left: 30;
}

#alamat {
    text-align: right;

}

#bottomleft {
text-align: left}

div {

}



#toplogo {
    display: block;
    width: 80px;
    height: 100%;
/*    padding-right: 50%;*/
    border: solid;
    border-bottom: none;
    border-right: 2px;
    border-top: none;
    border-left: none;
    border-color: black
}

#topplogo {
    align-content: center
}


.foot {
    font-size: 13pt;
    font-family: Nanum Gothic;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#toplogotd {
    width: 100%;
    display: block;
}
