 /* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom-color: black;
    border-bottom-style: solid;
    box-shadow: 0px 5px 25px grey;
    height:15%;
    font-family: Nanum Gothic;
}

/* Links inside the navbar */
.navbar a {
    vertical-align: ;
/*    float: left;*/
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    vertical-align: middle
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}



#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/* Main content */
.main {
     height: 80%;
    margin-top: 5%; /* Add a top margin to avoid content overlay */
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
    align-items: center;
    color: white;
    }

#logo {

}

#judul {
    font-size: 50px;
    font-family:ubuntu;
    color: white;
    background-color: black;
}

#text {
    float: left;
    padding-left: 30;
}

#alamat {
    text-align: right;

}

#bottomleft {
text-align: left}

div {

}



#toplogo {
    display: block;
    width: 89px;
    height: 90px;
/*    padding-right: 50%;*/
    border: solid;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-color: black;

    float: left;
    border-right-color: black;
    border-right-style: solid;
    margin-right: 10;
    padding-bottom: 10;
    padding-right: 25;
    padding-left: 25;
}

#topplogo {
    align-content: center
}


.foot {
    font-size: 13pt;
    font-family: Nanum Gothic;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}



#beranda {
    padding-left: 30%;
}


.background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.5);
    height: 250px;
}



.content {
    font-size: 20px;
    padding-top: 18px;
    position: relative;
}

.title {
    padding-bo
}

.fa {
    padding-left: 5px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fa-instagram {
   background: #000000;
    color: white;
}

.fa-envelope {
    color: white;
}







#deskripsi {
    padding-left: 10%;
    padding-right: 10%;
}

#struktur {
    padding-top: 8%;
}

#logoBPM {
    position: fixed;
    height: auto;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    opacity: 0.3;
}


